.home {
  font-family: 'Cinzel', serif;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1em;
  width: 80%;
  color: #000080;
  border: 2px solid lightgrey;
  background-image: url('/assets/img/ice.jpg');
  background-size: cover;
  box-shadow: 15px 8px 10px lightblue;
 

  @media screen and (max-width: 1000px) {
    width: 85%;
    font-size: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.elem-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  @media screen and (max-width: 1000px) {
    width: 85%;
    font-size: 80%;
    display: flex;
    justify-content: center;
  }
}

.home-title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 1%;

}

.home-title-two {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 1%;

}


.homePage-img {
  width: 40%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1000px) {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
}

.home-img{
  width: 70%;
  @media screen and (max-width: 1000px) {
    width: 100%;
    height: 50%;
  }
}

.homePage-text {
  font-size: 28px;
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
